name: Fork Release

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build-and-release:
    name: Build and Release
    runs-on: ${{ matrix.os }}
    env:
      RUST_BACKTRACE: 1
    strategy:
      matrix:
        build:
          - linux musl x64
          - linux musl aarch64
        include:
          - build: linux musl x64
            os: ubuntu-latest
            target: x86_64-unknown-linux-musl
          - build: linux musl aarch64
            os: ubuntu-latest
            target: aarch64-unknown-linux-musl
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Install Protoc
        uses: arduino/setup-protoc@v2
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}

      - name: Install musl-tools
        if: matrix.os == 'ubuntu-latest'
        run: sudo apt-get install -y --no-install-recommends musl-tools

      - name: Install Rust
        uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          target: "${{ matrix.target }},wasm32-wasip1"
          cache: false
          rustflags: ""

      - name: Build release binary (no-web)
        run: cargo xtask ci cross ${{ matrix.target }} --no-web

      - name: Create artifact
        id: make-artifact
        run: |
          asset_name="zellij-no-web-${{ matrix.target }}.tar.gz"
          tar cvzf "${asset_name}" -C "target/${{ matrix.target }}/release" zellij
          echo "asset_name=${asset_name}" >> "$GITHUB_OUTPUT"

      - name: Create checksum
        id: make-checksum
        run: |
          checksum_name="zellij-no-web-${{ matrix.target }}.sha256sum"
          sha256sum "target/${{ matrix.target }}/release/zellij" > "${checksum_name}"
          echo "checksum_name=${checksum_name}" >> "$GITHUB_OUTPUT"

      - name: Upload to rolling release
        uses: softprops/action-gh-release@v1
        with:
          tag_name: latest
          name: Latest Build
          body: |
            Automated build from commit ${{ github.sha }}
          files: |
            ${{ steps.make-artifact.outputs.asset_name }}
            ${{ steps.make-checksum.outputs.checksum_name }}
          prerelease: false
          draft: false
          fail_on_unmatched_files: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
